html,
body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: vitro;
  src: url(vitro.TTF);
}
@font-face {
  font-family: sejong;
  src: url(sejong.TTF);
}
body {
  margin: 0;
  background: #f6ebc8;
  padding: 0;
  width: 100vw;
}
.font {
  width: 90vw;
  margin: 1em auto 0;
}
.bigger-btn {
  font-size: 1.8rem;
  font-family: vitro;
  padding: 0.1em;
  border: none;
  color: #161616;
  background: none;
  border-radius: 1em;
  cursor: pointer;
}
.bigger-btn:hover {
  color: #acdef5;
  transition: all ease 0.2s;
}

.container {
  color: #780606;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90vw;
  padding: 2.5em 0 1.5em;
  margin: 1em auto;
}
img {
  width: 100%;
}
.sticker {
  width: 7em;
  position: absolute;
  top: -1em;
  transform: rotate(15deg);
  z-index: 3;
}
.circles {
  display: flex;
  gap: 1.5em;
  position: absolute;
  top: -0.3em;
  z-index: 1;
}
.cir {
  width: 1.5em;
  height: 1.5em;
  background: #f6ebc8;
  border-radius: 50%;
}
.main-page {
  height: 60%;
  width: 80%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: vitro;
  font-size: 7rem;
  margin: 0;
}
h3 {
  font-family: sejong;
  margin: 0.5em 0 2.5em;
  font-size: 2rem;
}
.start-btn {
  width: 8em;
  height: 2.5em;
  border: none;
  background-color: #780606;
  color: #fff;
  font-family: vitro;
  font-size: 2.5rem;
  border-radius: 2em;
  cursor: pointer;
}
.start-btn:hover {
  background-color: #f6ebc8;
  color: #780606;
  transition: all ease 0.5s;
}
.quiz-page {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  height: 95%;
  margin: auto;
}
h2 {
  font-family: sejong;
  font-size: 1.8rem;
  margin: 0 0 0.5em;
}
.ops {
  color: #161616;
  font-family: sejong;
  font-size: 1.2rem;
  font-weight: 600;
  border: 0.1em solid #780606;
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  margin: 0;
}
.answers {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, auto);
  align-content: center;
  gap: 0.8em;
  margin: 0 0 2em 0;
}
.score-btn {
  width: 7em;
  height: 2.5em;
  border: 0.2em solid #780606;
  background: none;
  color: #780606;
  font-size: 1.8rem;
  font-family: vitro;
  border-radius: 2em;
  cursor: pointer;
}
.score-btn:hover {
  background: #780606;
  color: #fff;
  border: none;
  transition: all ease 0.5s;
}
.btn-div {
  width: 100%;
  display: flex;
  justify-content: end;
}
